ion-tab-bar {
  --background: #020617;
  --border-color: rgba(15, 23, 42, 0.95);
  border-top: 1px solid rgba(15, 23, 42, 0.95);
}

ion-tab-button {
  --color: #9ca3af;
  --color-selected: #fbbf24;
}

:host {
  display: block;

  ion-content {
    --padding-bottom: 80px;
  }

  ion-content::part(scroll),
  ion-content .inner-scroll {
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
  }
}
