ion-tab-bar {
  --background: #020617;
  --border-color: rgba(15, 23, 42, 0.95);
  border-top: 1px solid rgba(15, 23, 42, 0.95);
}

ion-tab-button {
  --color: #9ca3af;
  --color-selected: #fbbf24;
}
