<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lore">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Códex</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personajes">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Personajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="enemigos">
      <ion-icon name="skull-outline"></ion-icon>
      <ion-label>Enemigos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="emblemas">
      <ion-icon name="ribbon-outline"></ion-icon>
      <ion-label>Emblemas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dominio">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>Dominios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
