.section-card {
  margin-top: 1rem;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;

  ion-icon {
    font-size: 1.1rem;
    color: #fbbf24;
  }

  h3 {
    font-size: 1rem;
    font-weight: 700;
  }
}
